body
{
    background-color: rgb(137, 207, 235);
}
.navbar
{
    display: flex;
    justify-content: center;
    background-color: darkblue;
    padding: 2px;
}
a
{
    text-decoration: none;
    font-size:larger;
    color:yellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
a :hover
{
    text-decoration: none;
    font-size:larger;
    color:wheat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.Image
{
    text-align: center;
}
img
{
    border:18px;
    border-color: midnightblue;
    border-style:double;
    border-radius: 100%;
}
h1
{
    text-align: center;
    font-size:xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
}
p
{
    font-size:larger;
    font-weight: bolder;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(36, 25, 59);
}